* {
  margin: 0;
  padding: 0;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
}

@font-face {
  font-family: "Hans Kendrick";
  src: url("/fonts/HansKendrick-Regular.woff") format("woff");
}

html,
body {
  /* remove any type of scrolling */
  overflow: hidden;
  font-family: "Hans Kendrick", sans-serif;
  color: #000;
}

#main-header {
  position: absolute;
  top: 1.25rem; /* 20px */
  left: 0;
  right: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem; /* 20px */
  height: auto;
  pointer-events: none;
}

#logo-container {
  display: flex;
  gap: 10px;
  align-items: center;
  /* width: min-content; */
}

#logo,
#about {
  font-size: 14px;
  pointer-events: auto; /* 클릭 가능하게 복구 */
}

#logo {
  width: 40px;
  height: auto;
}

#logo svg,
#logo img {
  width: 100%;
  height: auto;
}

#small-title {
  font-family: "Baskervville", serif;
  font-size: 16px;
  letter-spacing: -1px; /* 5% */
  line-height: 1;
  white-space: nowrap;
  margin-bottom: 5px;
}

#about {
  font-size: 14px;
  margin-right: 1rem;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

#about:hover {
  opacity: 0.6;
}

#start-screen {
  position: absolute;
  top: 19vh;
  left: 50%;
  transform: translateX(-50%); /* horizontal centering only */
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  font-size: 14px;
  /* opacity: 0.8; */

  /* pointer-events: none; */
  animation: fadeInUp 1s ease-out 0.5s both;
}

#scroll-indicator {
  animation: blinkOpacity 3s ease-in-out infinite;
}

#click-indicator {
  display: none;
}

#back-indicator {
  background: none;
  border: none;
  cursor: pointer;

  font-family: "Hans Kendrick", sans-serif;
  font-size: 14px;
  display: none;
  margin-top: -10vh;
}

@keyframes fadeInReveal {
  0% {
    opacity: 0;
    transform: translate(50%, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeOutReveal {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(50%, 0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    opacity: 0.8;
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes blinkOpacity {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}
@keyframes fadeOut {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}

#main-title {
  position: absolute;
  left: 20px;
  bottom: 6vh;
  z-index: 5;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: "Baskervville", serif;
  font-size: min(170px, 10vw);
  letter-spacing: -10px; /* 5% */
  line-height: 0.9;
  white-space: nowrap;
  /* margin: 0;
  color: #000; */
}

.italic {
  font-style: italic;
}

#book-info-screen {
  height: 100%;
  width: 40vw;
  position: fixed;
  top: 24vh;
  right: 5vw;

  z-index: 1;
  overflow-x: hidden;

  opacity: 0;

  /* padding-top: 20px; */
  /* padding: 0 40px; */
  /* padding-right: 20px; */
  display: flex;
  flex-direction: column;

  animation-fill-mode: forwards;
  /* gap: 1rem; */
}

#book-title {
  font-family: "Baskervville", serif;
  font-size: 40px;
}

#book-author {
  font-family: "Baskervville", serif;
  font-size: 28px;
  font-style: italic;
}

#book-summary {
  padding-top: 20px;
}

.button {
  width: min-content;
  padding: 15px 30px;

  background-color: #000;
  border: none;
  color: #fff;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;

  margin-top: 20px;
}
